<div class="d-flex justify-content-between mb-3">
  <h2>Products</h2>
  <div class="d-flex justify-content-between mb-3">
    <%= link_to "Add Product", new_admin_product_path, class: "btn btn-info", id: "add-product-button" %>
  </div>
</div>


<table class="table">
  <thead class="thead-dark"></thead>
  <tr>
    <th scope="col">Img</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Category</th>
    <th scope="col">Brand</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= image_tag(product.main_image_path, width: "50x50", class: "mx-auto") %></td>
      <th scope="row" class="product-name"><%= product.name %></th>
      <td><%= product.price %></td>
      <td><%= product&.category&.name %></td>
      <td><%= product&.brand&.name %></td>
      <td>
        <%= button_to "show", admin_product_path(product.id),method: :get, remote: true, class: "btn btn-outline-success btn-sm", id: "show-product-#{product.id}-button" %>
        <%= button_to "edit", edit_admin_product_path(product.id ),method: :get, remote: true, class: "btn btn-outline-secondary btn-sm", id: "edit-product-#{product.id}-button" %>
        <%= button_to "delete", admin_product_path(product.id), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm", id: "delete-product-#{product.id}-button" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>