<!DOCTYPE html>
<html>
  <head>
    <title>RubyShoop2023</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'application/navigation' %>
  <%= render 'application/flash_messages' %>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <%= render 'application/products_carousel' %>
        <%= yield %>
      </div>
      <div class="col-lg-3">
        <%= render 'application/sidebar' %>
      </div>
    </div>
  </div>
  </body>
</html>

